body {
    margin: 0;
    font-family: sans-serif;
}

.content {
    background-color: rgb(242, 242, 242);
}

th {
    background-color: rgb(220, 53, 69) !important;
    color: white;
    border: 1px solid rgb(220, 53, 69) !important;
}

td {
    border: 1px solid red !important;
}