@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

:root {
  --colour-pink: #FF576E;
  --colour-dark-pink: #BC4D5C;
  --colour-white:#fff;
  --colour-black:#33363F;
}

html {
  font-size: 62.5%;
}
  
body {
  background: var(--colour-white);
  color: var(--colour-black);
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 2rem; /*16px*/
}


/*========= Side Bar========= */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


a, a:hover, a:focus {
	color:inherit;
	text-decoration: none;
}

.wrapper {
	display: flex;
	width:100%;
	align-items:stretch
}

.sidebar {
	min-width:25rem;
	max-width: 25rem;
	background: var(--colour-pink);
	color:var(--colour-white);
	padding: 1rem;
}



.sidebar .sidebar-header {
	padding: 2rem;
	background: var(--colour-pink);
	
}

.sidebar ul.components {
	padding:2rem 0px;
	border-bottom:0.1rem solid var(--colour-dark-pink);
}

.sidebar ul li a{
	padding:1rem;
	font-size: 1.6rem;
	display: block
}

.sidebar ul li a:hover {
	color:var(--colour-white);
	background: var(--colour-dark-pink);
}

ul.CTAs{
	padding: 2rem;
}
ul.CTAs a{
	text-align: center;
	font-size:2rem !important;
	display: block;
	border-radius: 0.5rem;
	margin-bottom:0.5rem;
}
a.l-btn, a.l-btn:hover{
	background:var(--colour-white);
	color:var(--colour-pink);
}
.content{
	width:100%;
	padding:2rem;
	min-height: 100vh;
}
.content-wrapper{
	padding:1.5rem;
}

.p-login{
	margin-top: 4rem;
	font-size: 1.6rem;
}

.btn-login {
	margin-top: 2rem;
    margin-bottom: 2rem;
	font-size: 2rem;
	padding: 1rem 5rem;
	background-color:var(--colour-pink);
	color:var(--colour-white);

}

.btn-login:hover {
	background-color:var(--colour-dark-pink);
	color:var(--colour-white);
}

.textfield {
	margin-top: 2rem;
	font-size: 1.6rem;
	padding: 1rem 4rem;
}
  
  