{% extends 'base.html' %}

{% block head %}
<title>Blood Bank: Branches</title>
{% endblock %}

{% block body %}
<div class="d-flex flex-row">
    <div>
        {% include 'nav.html' %}
    </div>
    <div class="flex-grow-1 py-3 content">
        <div class="container">
            <h3>Branches</h3>
            <table class="table table-hover align-middle">
                <tr>
                    <th>ID</th>
                    <th>Branch Name</th>
                    <th>Address</th>
                    <th>Postal Code</th>
                </tr>
                {% for branch in branches %}
                <tr>
                    <td>{{ branch.id }}</td>
                    <td>{{ branch.name }}</td>
                    <td>{{ branch.address }}</td>
                    <td>{{ branch.postalCode }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}