{% extends 'base.html' %}

{% block head %}
<title>Blood Bank: Dashboard</title>
{% endblock %}

{% block body %}
<div class="d-flex flex-row">
    <div>
        {% include 'nav.html' %}
    </div>
    <div class="flex-grow-1 py-3 content">
        <div class="container">
            <h3>Dashboard</h3>
            <div class="row mb-3">
                <div class="col">
                    <div class="card text-bg-info">
                        <div class="card-header">Total Donors</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ data.donorCount }}</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-danger">
                        <div class="card-header">Available Blood</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ data.availableBlood }} ml</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-success">
                        <div class="card-header">Requests (Pending)</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ data.pendingRequests }}</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Blood Inventory</h3>
            <div class="row mb-3">
                <div class="col">
                    <div class="card">
                        <div class="card-header text-danger">A+</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ data.bloodInventoryMap['A+'] }} ml</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header text-danger">B+</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ data.bloodInventoryMap['B+'] }} ml</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header text-danger">AB+</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ data.bloodInventoryMap['AB+'] }} ml</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header text-danger">O+</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ data.bloodInventoryMap['O+'] }} ml</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header text-danger">A-</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ data.bloodInventoryMap['A-'] }} ml</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header text-danger">B-</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ data.bloodInventoryMap['B-'] }} ml</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header text-danger">AB-</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ data.bloodInventoryMap['AB-'] }} ml</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header text-danger">O-</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ data.bloodInventoryMap['O-'] }} ml</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}