{% extends 'base.html' %}

{% block head %}
<title>Blood Bank: Blood Donations</title>
{% endblock %}

{% block body %}
<div class="d-flex flex-row">
    <div>
        {% include 'nav.html' %}
    </div>
    <div class="flex-grow-1 py-3 content">
        <div class="container">
            <h3>Blood Donations</h3>
            <table class="table table-hover align-middle">
                <tr>
                    <th>ID</th>
                    <th>Donor NRIC</th>
                    <th>Quantity</th>
                    <th>Date No.</th>
                    <th>Branch</th>
                    <th>Recorded By</th>
                </tr>
                {% for donation in donations %}
                <tr>
                    <td>{{ donation.id }}</td>
                    <td>{{ donation.nric }}</td>
                    <td>{{ donation.quantity }}</td>
                    <td>{{ donation.date }}</td>
                    <td>{{ donation.branchName }}</td>
                    <td>{{ donation.staffUsername }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}