{% extends 'base.html' %}

{% block head %}
<title>Blood Bank: Blood Donations</title>
{% endblock %}

{% block body %}
<div class="d-flex flex-row">
    <div>
        {% include 'nav.html' %}
    </div>
    <div class="flex-grow-1 py-3 content">
        <div class="container">
            <h3>Blood Donations</h3>

            <!-- Add donor form toggle -->
            <div class="mb-3">
                <button class="btn btn-danger" type="button" data-bs-toggle="collapse"
                    data-bs-target="#add-donation-collapse" aria-expanded="false" aria-controls="add-donation-collapse">
                    <i class="bi bi-plus-lg me-2"></i>Add New Donation
                </button>
            </div>

            <!-- Add donation form -->
            <div class="collapse" id="add-donation-collapse">
                <div class="card mb-3">
                    <div class="card-body">
                        <form id="add-donation-form">
                            <div class="row">
                                <h5>Add new donation</h5>
                                <div class="col-md-6 mb-3">
                                    <label for="nric" class="form-label">Donor</label>
                                    <select class="form-select" name="nric" required>
                                        <option value="">Choose donor...</option>
                                        {% for donor in donors %}
                                        <option value="{{ donor.nric }}">{{ donor.name }} ({{ donor.nric }})</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="branchId" class="form-label">Donation Branch</label>
                                    <select class="form-select" name="branchId" required>
                                        <option value="">Choose branch...</option>
                                        {% for branch in branches %}
                                        <option value="{{ branch.id }}">{{ branch.name }} ({{ branch.id }})</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-sm-5 mb-3">
                                    <label for="quantity" class="form-label">Quantity</label>
                                    <input type="number" class="form-control" name="quantity"
                                        placeholder="Enter blood quantity (ml)" min="200" max="1000" step="1" required>
                                </div>

                            </div>
                            <button type="submit" class="btn btn-danger">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Search bar -->
            <form method="GET" target="_self">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="q" placeholder="Search by ID/NRIC/Branch"
                        aria-label="Donation search input" value="{{ request.args.get('q', '') }}">
                    <button class="btn btn-danger" type="submit"><i class="bi bi-search me-2"></i>Search</button>
                </div>
            </form>

            <!-- Donation record table -->
            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Donor NRIC</th>
                        <th>Blood Type</th>
                        <th>Quantity</th>
                        <th>Date and Time</th>
                        <th>Branch</th>
                        <th>Recorded By</th>
                    </tr>
                </thead>
                <tbody id="donations">
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyend %}
<script>
    const donationTemplate = (d) => $(`
        <tr>
            <td>${d.id.toString().substring(0, 5)}</td>
            <td>${d.nric}</td>
            <td>${d.bloodType}</td>
            <td>${d.quantity} (ml)</td>
            <td>${printDateTime(parseDateTimeAsLocal(d.date))}</td>
            <td>${d.branchName}</td>
            <td>${d.staffUsername}</td>
        </tr>`);

    function addDonationHandler(e) {
        e.preventDefault();

        $.post('/donations?action=create', $(e.target).serialize(), (res) => {
            if (res.success) {
                // Refresh donation list
                populateDonationList();

                // Reset and collapse form
                $(e.target).trigger('reset');
                $('#add-donation-collapse').collapse('hide');

                console.log('Add donation success', res);
            }
        });
    }

    function populateDonationList() {
        $.ajax({
            url: '/query?type=donation&key=all', success: (res) => {
                let donations = res.data;
                $('#donations').empty(); // Clear child items

                // Show only those searched, if search value is given
                var url = new URL(window.location.href);
                var searchVal = url.searchParams.get('q'); // Search value
                if (searchVal) {
                    donations = donations.filter(d => d.nric.includes(searchVal) || d.id.toString().includes(searchVal) || d.branchName.includes(searchVal));
                }

                donations.forEach(d => $('#donations').append(donationTemplate(d)));
            }
        })
    }

    $(document).ready(() => {
        $('#add-donation-form').submit(addDonationHandler);

        populateDonationList();
    });
</script>
{% endblock %}