{% extends 'base.html' %}

{% block head %}
<title>Blood Bank: Donors</title>
{% endblock %}

{% block body %}
<div class="d-flex flex-row">
    <div>
        {% include 'nav.html' %}
    </div>
    <div class="flex-grow-1 py-3 content">
        <div class="container">
            <h3>Donors</h3>

            <!-- Add donor form toggle -->
            <div class="mb-3">
                <button class="btn btn-danger" type="button" data-bs-toggle="collapse"
                    data-bs-target="#add-donor-collapse">
                    <i class="bi bi-plus-lg me-2"></i>Add New Donor
                </button>
            </div>

            <!-- Add donor form -->
            <div class="collapse" id="add-donor-collapse">
                <div class="card mb-3">
                    <div class="card-body">
                        <form id="add-donor-form">
                            <div class="row">
                                <h5>Add new donor</h5>
                                <div class="col-sm-6">
                                    <label for="nric" class="form-label">NRIC</label>
                                    <input type="text" class="form-control" name="nric" id="add-form-nric"
                                        placeholder="Enter NRIC" required>
                                </div>

                                <div class="col-sm-6 mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" class="form-control" name="name" id="add-form-name"
                                        placeholder="Enter name" required>
                                </div>

                                <div class="col-sm-6 mb-3">
                                    <label for="dateOfBirth" class="form-label">Date of birth</label>
                                    <input type="date" class="form-control" name="dateOfBirth" id="add-form-dob"
                                        required>
                                </div>

                                <div class="col-sm-6 mb-3">
                                    <label for="contactNo" class="form-label">Contact No</label>
                                    <input type="text" class="form-control" name="contactNo" id="add-form-contact"
                                        placeholder="XXXXXXXX" required>
                                </div>

                                <div class="col-md-5 mb-3">
                                    <label for="bloodType" class="form-label">Blood Type</label>
                                    <select class="form-select" name="bloodType" id="add-form-bloodtype" required>
                                        <option value="">Choose blood type...</option>
                                        <option value="A+">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="B+">B+</option>
                                        <option value="B-">B-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="AB-">AB-</option>
                                        <option value="O+">O+</option>
                                        <option value="O-">O-</option>
                                    </select>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-danger">Submit</button>

                            <div id="add-donor-status" class="spinner-border text-danger d-none" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Search bar -->
            <form method="GET" target="_self">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="q" placeholder="Search by NRIC/Name"
                        aria-label="Donor search input" value="{{ request.args.get('q', '') }}">
                    <button class="btn btn-danger" type="submit"><i class="bi bi-search me-2"></i>Search</button>
                </div>
            </form>

            <!-- Donor list -->
            <div id="donors"></div>
        </div>
    </div>
</div>

<!-- Edit Donor Modal -->
<div class="modal fade" id="edit-donor-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form id="edit-donor-form">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Edit Donor</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="nric" class="form-label">NRIC</label>
                            <input type="text" class="form-control" id="update-modal-nric" name="nric"
                                placeholder="Enter NRIC" required readonly>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="update-modal-name" name="name"
                                placeholder="Enter name" required>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <label for="dateOfBirth" class="form-label">Date of birth</label>
                            <input type="date" class="form-control" id="update-modal-dob" name="dateOfBirth" required>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <label for="contactNo" class="form-label">Contact No</label>
                            <input type="text" class="form-control" id="update-modal-contact" name="contactNo"
                                placeholder="XXXXXXXX" required>
                        </div>

                        <div class="col-md-5 mb-3">
                            <label for="bloodType" class="form-label">Blood Type</label>
                            <select class="form-select" id="update-modal-bloodtype" name="bloodType" required>
                                <option value="">Choose blood type...</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <div>
                        <button type="button" class="btn btn-danger" id="delete-donor-btn"><i
                                class="bi bi-trash-fill"></i></button>
                    </div>
                    <div class="align-self-end">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>\}\}
</div>
{% endblock %}

{% block bodyend %}
<script>
    const donorCardTemplate = (donor) => $(`
    <div class="card mb-3 donor-card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span class="donor-card-nric">${donor.nric}</span>
            <div>
                <a href="${'/donations?q=' + donor.nric}" class="btn btn-danger view-donations-btn"><i
                        class="bi bi-arrow-through-heart-fill me-2"></i>View Donations</a>
                <a class="btn btn-danger edit-donor-btn" data-donor-nric="${donor.nric}">
                    <i class="bi bi-pencil-square me-2"></i>Edit</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title mb-2">
                <span class="donor-card-name">${donor.name}</span>
            </h5>
            <div class="card-text">
                <div class="mb-2">
                    <span class="badge bg-danger donor-card-bloodtype">${donor.bloodType}</span>
                    <span class="badge rounded-pill bg-secondary donor-card-age">${Math.floor(dayjs().diff(dayjs(donor.dateOfBirth), 'month') / 12)}yo</span>
                </div>
                <div class="d-flex justify-content-center gap-3">
                    <div class="input-group">
                        <span class="input-group-text">Contact</span>
                        <input type="text" class="form-control donor-card-contact" value="${donor.contactNo}"
                            readonly />
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">DOB</span>
                        <input type="text" class="form-control donor-card-dob" value="${printDate(parseDateTimeAsLocal(donor.dateOfBirth))}"
                            readonly />
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Registered</span>
                        <input type="text" class="form-control donor-card-registered"
                            value="${printDate(parseDateTimeAsLocal(donor.registrationDate))}" readonly />
                    </div>
                </div>
            </div>
        </div>
    </div>`);

    function populateDonorList() {

        $.ajax({
            url: '/query?type=donor&key=all', success: (res) => {
                let donors = res.data;
                $('#donors').empty(); // Clear child items

                // Show only those searched, if search value is given
                var url = new URL(window.location.href);
                var searchVal = url.searchParams.get('q'); // Search value
                if (searchVal) {
                    donors = donors.filter(d => d.nric.includes(searchVal) || d.name.includes(searchVal));
                }
                donors.forEach(d => $('#donors').append(donorCardTemplate(d)));

                // Populate the edit modal when edit is clicked
                $('.edit-donor-btn').click(editButtonHandler);
            }
        })
    }

    function editButtonHandler(e) {
        $.ajax({
            url: `/query?type=donor&key=nric&val=${$(e.target).data('donor-nric')}`, success: (res) => {
                $('#update-modal-nric').val(res.data.nric);
                $('#update-modal-name').val(res.data.name);
                $('#update-modal-dob').val(new Date(res.data.dateOfBirth).toISOString().split('T')[0]);
                $('#update-modal-contact').val(res.data.contactNo);
                $('#update-modal-bloodtype').val(res.data.bloodType);

                $('#edit-donor-modal').modal('show');
            }
        });
    }

    function addDonorHandler(e) {
        e.preventDefault();
        $('#add-donor-status').removeClass('d-none'); // Show the loading spinner
        $.post('/donors?action=create', $(e.target).serialize(), (res) => {
            if (res.success) {
                $('#add-donor-status').addClass('d-none'); // Hide the loading spinner

                populateDonorList();

                // Reset and collapse form
                $(e.target).trigger('reset');
                $('#add-donor-collapse').collapse('hide');

                console.log('Add donor success', res);
            }
        });
    }

    function editDonorHandler(e) {
        e.preventDefault();
        if (e.target.checkValidity()) { // checkValididity() is from bootstrap validation
            $.post('/donors?action=update', $(e.target).serialize(), (res) => {
                if (res.success) {
                    $('#edit-donor-modal').modal('hide');

                    populateDonorList();

                    console.log('Edit donor success', res);
                }
            });
        }
    }

    function deleteDonorHandler(e) {
        $.post('/donors?action=delete', $('#edit-donor-form').serialize(), (res) => {
            if (res.success) {
                $('#edit-donor-modal').modal('hide');

                $('.donor-card').each((i, elem) => {
                    if ($(elem).find('.donor-card-nric').text() === res.data.nric) {
                        $(elem).remove();
                        return false; // Break the loop
                    }
                });
            }

            console.log('Delete donor success');
        }
        );
    }

    $(document).ready(() => {
        populateDonorList();

        // Add donor form submit handler
        $('#add-donor-form').submit(addDonorHandler);

        // Edit donor form submit button
        $('#edit-donor-form').submit(editDonorHandler);

        // Delete donor button
        $('#delete-donor-btn').click(deleteDonorHandler);
    });
</script>
{% endblock %}