{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container-fluid p-login">
    <div class="row justify-content-md-center">
        <div class="col-md-4">

            <div class="text-center m-5">
                <img src="static/img/icons8-drop-of-blood-100.png" alt="icon">
                <h1>Blood Bank</h1>
            </div>

            <div class="card">
                <div class="card-body">

                    <div class="text-center m-5">
                        <h1 class="h3 text-gray-900">Welcome to Login Site</h1>
                    </div>

                    <form method="POST" action="">
                        {{form.hidden_tag() }}
                        <!-- generates a hidden field used to protect against CSRF attacks-->
                        {{form.username(class_="form-control textfield")}}
                        {{form.password(class_="form-control textfield")}}

                        <div class="text-center">
                            <button class="btn btn-login text-uppercase fw-bold" type="submit">Sign in</button>
                        </div>

                    </form>
                    <!-- Flash error message if username or password incorrect -->
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}