{% extends 'base.html' %}

{% block head %}
<title>Blood Bank: Login</title>

<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        align-items: center;
        background-color: #f5f5f5;
    }
</style>
{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center mb-3">
                    <img src="static/img/icons8-drop-of-blood-100.png" alt="icon" width="80px">
                    <h4>Blood Bank Management System</h4>
                </div>

                <div class="text-center mb-1">Please sign in.</div>

                <form method="POST">
                    {{form.username(class_="form-control textfield mb-2")}}
                    {{form.password(class_="form-control textfield mb-2")}}

                    <!-- Flash error message if username or password incorrect -->
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="text-danger my-1">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <div class="text-center mt-3">
                        <button class="btn btn-danger w-100 fw-bold" type="submit">SIGN IN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}