{% extends 'base.html' %}

{% block head %}
<title>Blood Bank: Blood Requests</title>
{% endblock %}

{% block body %}
<div class="d-flex flex-row">
    <div>
        {% include 'nav.html' %}
    </div>
    <div class="flex-grow-1 py-3 content">
        <div class="container">
            <h3>Requests (Pending)</h3>
            {% for request in pending %}
            {% if loop.index % 2 == 1 %}
            <div class="row row-cols-2 g-2">
                {% endif %}
                <div class="col">
                    <div class="card mb-3 request-card">
                        <div class="row g-0">
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img src="static/img/icons8-drop-of-blood-100.png" class="img-fluid rounded-start">
                            </div>
                            <div class="col-9">
                                <div class="card-body ps-0">
                                    <h5 class="card-title">REQUEST #{{ request.id }}</h5>
                                    <div class="mb-1">
                                        <span class="badge bg-secondary">{{ request.date }}</span>
                                        <span class="badge bg-danger">{{ request.bloodType }}</span>
                                        <span class="badge bg-danger">{{ request.quantity }}ml</span>
                                    </div>
                                    <p class="card-text mb-2">
                                        Requester: {{ request.requester }}
                                        <br />
                                        Address: {{ request.address }}
                                    </p>
                                    <div class="d-flex justify-content-end gap-2">
                                        <a class="btn btn-danger manage-request-btn"
                                            data-request-id="{{ request.id }}">Manage</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if loop.index % 2 == 0 or loop.index == pending|length %}
            </div>
            {% endif %}
            {% endfor %}

            <h3>Requests (Completed)</h3>
            {% for request in complete %}
            {% if loop.index % 2 == 1 %}
            <div class="row row-cols-2 g-2">
                {% endif %}
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img src="static/img/icons8-drop-of-blood-100.png" class="img-fluid rounded-start">
                            </div>
                            <div class="col-9">
                                <div class="card-body ps-0">
                                    <h5 class="card-title">REQUEST #{{ request.id }}</h5>
                                    <div class="mb-1">
                                        <span class="badge bg-secondary">{{ request.date }}</span>
                                        <span class="badge bg-danger">{{ request.bloodType }}</span>
                                        <span class="badge bg-danger">{{ request.quantity }}ml</span>
                                    </div>
                                    <p class="card-text mb-2">
                                        Requester: {{ request.requester }}
                                        <br />
                                        Address: {{ request.address }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if loop.index % 2 == 0 %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<!-- Manage request modal -->
<div class="modal fade" id="manage-request-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form id="manage-request-form">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="request-modal-header">Request #</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 mb-3 visually-hidden">
                            <label for="request-modal-id" class="form-label">Req #</label>
                            <input type="text" class="form-control" id="request-modal-id" name="id" required readonly>
                        </div>

                        <div class="col-sm-6">
                            <label for="request-modal-requester" class="form-label">Requester</label>
                            <input type="text" class="form-control" id="request-modal-requester" name="nric" required
                                readonly>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <label for="name" class="form-label">Address</label>
                            <input type="text" class="form-control" id="request-modal-address" name="name" required
                                readonly>
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="fulfillDonations[]" class="form-label">Choose the donations used to fulfill this
                                request.
                                <span id="request-modal-bloodhint"></span>
                            </label>
                            <select class="form-select" id="request-modal-donations" name="fulfillDonations[]"
                                multiple="multiple">
                            </select>
                        </div>

                        <div class="col-md-12 mb-6">
                            Tags:
                            <span class="badge bg-danger" id="request-modal-bloodtype">Blood type</span>
                            <span class="badge bg-danger" id="request-modal-quantity">Quantity</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <div>
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Reject</button>
                    </div>
                    <div class="align-self-end">
                        <button type="submit" class="btn btn-danger" id="request-modal-fulfill-btn">Fulfill</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyend %}
<!-- Select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    const donationSelectHintTemplate = (amt) => {
        if (amt > 0) return `<span class="text-danger" id="request-modal-bloodhint">You still need <span class="text-danger">${amt}</span>ml of blood.</span>`;
        return '<span class="text-success" id="request-modal-bloodhint">You have enough blood to fulfill this request.</span>';
    };

    function donationSelectionChanged() {
        let requestQty = $('#request-modal-donations').data('request-quantity');
        let selectedQty = 0;
        $('#request-modal-donations').find(':selected').each((i, elem) => {
            let qty = parseInt($(elem).data('quantity'));
            selectedQty += qty;
        });
        let remainingQty = requestQty - selectedQty;
        $('#request-modal-bloodhint').replaceWith(donationSelectHintTemplate(remainingQty));

        // Enable or disable fulfill button depending on whether request is fulfilled
        let fulfillBtn = $('#request-modal-fulfill-btn');
        if (remainingQty <= 0 && fulfillBtn.hasClass('disabled')) {
            fulfillBtn.removeClass('disabled');
        } else if (remainingQty > 0 && !fulfillBtn.hasClass('disabled')) {
            fulfillBtn.addClass('disabled');
        }
    }

    // function populateRequestCards() {
    //     const requestPendingTemplate = (request) => $(`
    //         <div class="card mb-3 request-card">
    //             <div class="row g-0">
    //                 <div class="col-3 d-flex justify-content-center align-items-center">
    //                     <img src="static/img/icons8-drop-of-blood-100.png" class="img-fluid rounded-start">
    //                 </div>
    //                 <div class="col-9">
    //                     <div class="card-body ps-0">
    //                         <h5 class="card-title">REQUEST #${request.id}</h5>
    //                         <div class="mb-1">
    //                             <span class="badge bg-secondary">${request.date}</span>
    //                             <span class="badge bg-danger">${request.bloodType}</span>
    //                             <span class="badge bg-danger">${request.quantity}ml</span>
    //                         </div>
    //                         <p class="card-text mb-2">
    //                             Requester: ${request.requester}
    //                             <br />
    //                             Address: ${request.address}
    //                         </p>
    //                         <div class="d-flex justify-content-end gap-2">
    //                             <a class="btn btn-danger manage-request-btn">Manage</a>
    //                         </div>
    //                     </div>
    //                 </div>
    //             </div>
    //         </div>`);
    // }

    $(document).ready(() => {
        // Setup multiselect box
        $('#request-modal-donations').select2({
            dropdownParent: $("#manage-request-modal"), width: '100%'
        });
        $('#request-modal-donations').on('select2:select', donationSelectionChanged);
        $('#request-modal-donations').on('select2:unselect', donationSelectionChanged);

        // Manage request button
        $('.manage-request-btn').click((e) => {
            let requestId = $(e.target).data('request-id');
            $.ajax({
                url: `/query?type=request&key=id&val=${requestId}`, success: (res) => {
                    // Fill up modal with request data
                    $('#request-modal-header').text(`Manage Request (#${requestId})`);
                    $('#request-modal-id').val(requestId);
                    $('#request-modal-requester').val(res.data.requester);
                    $('#request-modal-address').val(res.data.address);
                    $('#request-modal-bloodtype').text(res.data.bloodType);
                    $('#request-modal-quantity').text(`${res.data.quantity}ml`);

                    // Store blood quantity stated in request for calculation purpose
                    $('#request-modal-donations').data('request-quantity', res.data.quantity);
                    $('#request-modal-donations').val(null).trigger('change'); // Clear existing selection
                    donationSelectionChanged();

                    // Get available blood donations that match the request's blood type and populate the selection box
                    $.ajax({
                        url: `/query?type=donation&key=bloodType&val=${encodeURI(res.data.bloodType)}`, success: (res) => {
                            const donationSelectOptionTemplate = (donation) =>
                                $(`<option value='${donation.id}' data-quantity='${donation.quantity}'>#${donation.id} (${donation.quantity}ml)</option>`);

                            $('#request-modal-donations').empty();
                            res.data.forEach(donation => {
                                $('#request-modal-donations').append(donationSelectOptionTemplate(donation));
                            });

                            $('#manage-request-modal').modal('show');
                        }
                    });
                }
            });
        });

        $('#manage-request-form').submit((e) => {
            e.preventDefault();

            $.post({
                url: `/requests?action=fulfill`, data: $(e.target).serialize(), success: (res) => {
                    $('.request-card');
                }
            });

            console.log($(e.target).serialize(), reqId);
        });
    });
</script>
{% endblock %}